body {
  margin: 0;
  background: #111;
}

.card-container {
  perspective: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  gap: 40px;
  padding: 80px;
  margin: 0 auto;
}



/* 카드 본체 */
.card {
  width: 260px;
  height: 360px;
  position: relative;

  border-radius: 16px;
  overflow: hidden;

  transform-style: preserve-3d;
  transition: none;
}

/* 카드 이미지 */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* 홀로그램 레이어 */
.card::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    120deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );

  opacity: 0.35;
  mix-blend-mode: overlay;
  background-size: 200% 200%;
  pointer-events: none;
  background-position: var(--x) var(--y);
}
